@use "@nota-lang/nota-common/dist/index" as *;
@use "@nota-lang/nota-components/dist/index";

html {
  @include monitor {
    font-size: $size-normal;
  }

  @include mobile {
    font-size: $size-small;
  }

  font-family: "Cabin", "Helvetica", sans-serif;
  line-height: 1.3em;
}

body {
  margin: 0;
}

$primary: #4597b8;
$primary-darker: #1d556b;
$secondary: #b83144;
$tertiary: #b8b132;

.nota-document {
  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  header {
    @include monitor {
      margin: 2rem 0 1rem;
      gap: 1.5rem;
    }

    @include mobile {
      flex-direction: column;
      margin-top: 1rem;
    }

    display: flex;

    > div {
      @include monitor {
        &:first-child {
          width: 200px;
        }

        > div:first-child {
          height: 32px;
          margin-bottom: 0.5rem;
        }

        &:last-child {
          width: 650px - 200px;
        }

        .links {
          text-align: right;
        }
      }

      @include mobile {
        margin: 0 auto;

        > div {
          width: 100%;
        }

        .links {
          margin-bottom: 0.5rem;
          text-align: center;
        }
      }
    }

    h1 {
      text-align: center;
      margin-bottom: 0.5rem;
    }

    .profile {
      border-radius: 4px;
      border: 1px solid #aaa;
      box-shadow: 2px 2px 2px #ccc;
      margin-bottom: 0.5rem 
    }

    .links img {
      width: 24px;
      margin-left: 5px;
    }

    .text {
      position: relative;
      bottom: 5px;
    }
  }

  section {
    margin: 1rem 0;
  }

  @include mobile {
    section, header {
      padding: 0 1rem;
    }
  }

  a[href],
  .ref {
    color: $secondary;

    &:visited {
      color: $secondary;
    }
  }

  h2 {
    border-bottom: 2px solid black;
    padding-bottom: 0.5rem;
  }

  .shaded {
    color: white;
    background: $primary;

    h2 {
      border-bottom: 2px solid white;
    }

    a[href],
    .ref {
      $secondary-light: adjust-color($secondary, $lightness: 40%);
      color: $secondary-light;

      &:visited {
        color: $secondary-light;
      }
    }

    @include mobile {
      padding: 1rem 1rem;
    }
    @include monitor {
      padding: 2rem 8rem;
    }
  }

  .portfolio {
    > p {
      margin: 0 auto;

      @include monitor {
        width: 670px;
      }
    }
  }

  @mixin make-grid($gap) {
    .grid.gap-#{$gap} {
      gap: $gap;

      @include monitor {
        > div {
          width: calc(50% - $gap / 2);
        }
      }
    }
  }

  @include make-grid(1rem);
  @include make-grid(2rem);

  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;

    &.gap-1rem {
      > div {
        background: white;
        padding: 0.75rem;
        box-sizing: border-box;
        border-radius: 4px;

        // HACK: have to reset colors when going outer -> shaded -> inner
        // make this a mixin or smth?
        color: black;
        a[href],
        .ref {
          color: $secondary;

          &:visited {
            color: $secondary;
          }
        }

        > img {
          width: 100%;
          border: 1px solid #aaa;
          border-radius: 4px;
        }
      }
    }
  }

  h1,
  h2,
  h3 {
    font-family: "Expletus Sans", "Cabin", sans-serif;
  }

  .publications {
    @include monitor {
      width: 800px;
    }

    margin-top: 1rem;

    h2 {
      margin: 1rem 0 0.5rem;
    }

    h3 {
      margin: 2rem 0 0.5rem;
    }

    .definition + .definition {
      margin-top: 0.5rem;
    }
  }

  .pub {
    .pub-name {
      font-weight: bold;
    }

    .author-me {
      text-decoration: underline;
    }
  }

  .ideas {
    width: 100%;
    margin-bottom: 0;

    > div {
      @include monitor {
        width: 800px;
      }
      margin: 0 auto;
    }
  }
}
