body {
  font-family: 'Cabin', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 1.3em;
}

#app {
  margin: 1rem auto;
}

.nota-document > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  $width: 900px;
  width: $width;
  display: flex;

  .profile {
    width: 200px;    

    h1 {
      text-align: center;
      margin-bottom: 1rem;
    }

    img {
      border-radius: 4px;
      border: 1px solid #aaa;
      box-shadow: 2px 2px 2px #ccc;
    }
  }
  
  .description {
    padding-left: 2rem;
    width: $width - 250px;
    font-size: 22px;
    line-height: 1.2em;
    align-self: center;
  }
}

section {
  margin: 1rem 0;
}

.portfolio {
  background: #fafafa;
  padding: 1rem 2rem;

  > p {
    margin: 0 auto;
    width: 700px;
  }
}

@mixin make-grid($gap) {
  .grid.gap-#{$gap} {
    gap: $gap;
    > div {
      width: calc(50% - $gap / 2);
    }
  }
}

@include make-grid(2rem);
@include make-grid(4rem);

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;

  > div > img {
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #ccc;
  }
}

h1, h2, h3  {
  font-family: 'Expletus Sans', 'Cabin', sans-serif;
}

.publications {
  margin-top: 1rem;
  width: 800px;

  h2 {
    margin: 1rem 0 0.5rem;
  }

  h3 { 
    margin: 2rem 0 0.5rem;
  }

  .definition + .definition {
    margin-top: 0.5rem;
  }
}

.pub {  
  .pub-name {
    font-weight: bold;
  }

  .author-me {
    text-decoration: underline;    
  }
}

.ideas {
  background: #fafafa;    
  width: 100%;
  padding: 1rem 2rem;

  > div {
    width: 800px;
    margin: 0 auto;
  }
}