@use "../mixins.scss" as *;

.window {
  position: fixed;
  left: calc(75ch + 8rem);
  top: 2rem;
  max-height: calc(100vh - 6rem);
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;

  h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}

.context-link {  
  margin-block: 1em 0;  
  
  > div.summary { 
    display: list-item;
    list-style-type: disclosure-closed;

    &.selected {
      list-style-type: disclosure-open;
    }

    &::marker {
      font-size: 70%;
    }
  }

  > summary, > div.summary {    
    list-style-position: outside;
    
    // TODO: can we detect this without JS?
    // Causes flash when loading in Safari
    html.safari & {
      display: flex;

      &::-webkit-details-marker {
        position: relative;
        top: 0.8em;
      }
    }

    @include desktop {
      padding-left: 5px;
      margin-left: -5px;
    }

    // @include mobile {
    //   list-style-position: inside;

    //   > div {
    //     display: inline;
    //   }
    // }
  }

  .inline-content {
    padding: 1px 0.5rem;
    background: #f8f8f8;

    @include mobile {
      margin-top: 0.5rem;
    }
  }
}

.context-anchor {
  text-decoration: underline #ddd;
  cursor: pointer;
  color: inherit;

  details[open] > summary &, .summary.selected & {
    background-color: rgb(255, 255, 194);
  }

  @include mobile {
    display: inline;

    > * {
      display: inline;
    }
  }
}