* { 
    margin: 0; 
    padding: 0; 
}

body { 
    overflow: hidden; 
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: lighter;
    background-color:black;
    color:white;
}

canvas { 
    display: none; 
}

#dialogue { 
    margin-top: 100px;
    text-align: center;
}

h1 {
    font-weight: lighter;
    font-size: 120px;
}

button {
    font-size: 24px;
    padding: 3px 15px;
    border-radius: 4px;
}

#dialogue div {
    margin-top: 15px;
}
