// http://www.color-hex.com/color-palette/52058
// $red: #ff0040;
$blue: #00dfff;
// $green: #00ff6b;

$red: 	#e60042;
$orange: #df4300;
$purple: #950083;

// $red1: 	#e60042;
// $red2: #c90039;
// $red3: #9b0029;


$header-family: 'Helvetica Neue', 'Helvetica', Arial;
$body-family: 'Source Sans Pro', $header-family;

html {
    font-size: 20px;
}

body {
    font-size: inherit;
    font-family: $body-family;
    line-height: 1.4em;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

p, ul, ol  {
    margin-bottom: 1rem;
}

li {
    margin: 0;
}

.container {
    max-width: 1080px;
    position: relative;
    z-index: 2;
}

a {
    color: darken($blue, 12);

    &:hover {
        color: darken($blue, 6);
    }
}

.mover {
    position: absolute;
    z-index: 1000;
    color: $red;

    &.triangle {
        font-size: 80px;
    }

    &.square {
        font-size: 96px;
        height: 40px;
    }

    &.circle {
        font-size: 120px;
        width: 70px;
        height: 30px;
    }
}

.hl1 { color: $red; }
.hl2 { color: $orange; }
.hl3 { color: $purple; }
// .red { color: darken($red, 12); }
// .blue { color: darken($blue, 12); }
// .green { color: darken($green, 12); }

@mixin triangle($size, $color) {
    width: 0;
    height: 0;
    display: inline-block;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size*2 solid $color;
}

@mixin shadow($colors) {
    $prop: "";
    @each $pair in $colors {
        @each $pos in nth($pair, 2) {
            $prop: $prop + $pos + " 0 " + nth($pair, 1) + ", ";
        }
    }

    text-shadow: #{$prop} 0 0 0 transparent;
}

.shape-btn {
    &:hover {
        color: white;
        cursor: pointer;
    }

    &.square:hover {
        -webkit-text-stroke: 3px $orange;
    }

    &.triangle:hover {
        -webkit-text-stroke: 3px $red;
    }

    &.circle:hover {
        -webkit-text-stroke: 3px $purple;
    }
}

.square {
    &:before {
        content: "\25a0";
    }

    &.inline:before {
        font-size: 1.5em;
        bottom: 0.13em;
        vertical-align: text-bottom;
        position: relative;
        line-height: 0.75em;
    }
}

.triangle {
    &:before {
        content: '\25b2';
    }
}

.circle {
    &:before {
        content: '\25cf';
    }

    &.inline:before {
        font-size: 1.8em;
        line-height: 0.5em;
        position: relative;
        bottom: 0.1em;
        vertical-align: text-bottom;
    }
}

h1, h2, h3 {
    letter-spacing: 0;
}

h1, .index h2 {
    font-family: $header-family;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;

    a {
        color: inherit;
        text-decoration: none;
        -webkit-text-stroke: inherit;

        &:hover {
            color: inherit;
        }
    }
}

.index {
    .abstract {
        font-size: 1.15rem;
        font-weight: bold;
    }
}


h1 {
    color: white;
    font-size: 88px;
    -webkit-text-stroke: 3px $red;
    font-weight: bold;
    position: relative;
    right: 10px;
    margin-bottom: 5px;
    @include shadow(
        (
            // ($red, ("1px 1px", "-1px -1px", "1px -1px", "-1px 1px",
            //         "2px 2px", "-2px -2px", "2px -2px", "-2px 2px",
            //         "3px 3px", "-3px -3px", "3px -3px", "-3px 3px")),
            ($orange, ("3px 0px", "4px 0px", "5px 0px")),
            ($purple, ("6px 0px", "7px 0px", "8px 0px")),
        )
    );
    //text-align: center;
}

.border {
    $border-width: 40px;
    border-width: $border-width;
    padding: 10px 10px;

    $border-height: 28px;

    &.b1 {
        border-image: url(/images/border1.png) 88 repeat;
    }

    &.b2 {
        border-image: url(/images/border2.png) 88 repeat;
    }

    &.left {
        border-left-style: solid;
    }
    &:not(.left) {
        margin-left: $border-width;
    }

    &.right {
        border-right-style: solid;
    }
    &:not(.right) {
        margin-right: $border-width;
    }

    &.bottom {
        border-bottom-style: solid;
        margin-bottom: -$border-height;
    }

    &.top {
        border-top-style: solid;
    }
}

.questions {

    h2 {
        color: black;
        @include shadow(
            (
                ($red, ("1px 0px")),
            )
        );
        font-weight: bold;
        font-size: 26px;
        margin-bottom: 5px;
        letter-spacing: 2px;
    }

    font-size: 0.9rem;
}

.main {
    h2 {
        color: white;
        font-size: 52px;
        -webkit-text-stroke: 3px $red;
        font-weight: bold;
        margin-bottom: 15px;
        @include shadow(
            (
                // ($red, ("1px 1px", "-1px -1px", "1px -1px", "-1px 1px",
                //         "2px 2px", "-2px -2px", "2px -2px", "-2px 2px",
                //         "3px 3px", "-3px -3px", "3px -3px", "-3px 3px")),
                ($orange, ("3px 0px", "4px 0px", "5px 0px")),
                ($purple, ("6px 0px", "7px 0px", "8px 0px")),
            )
        );
    }

    .research {
        p { margin: 0; display: inline-block; }

        ul { margin-bottom: 0; }

        .project-block {
            margin-bottom: 20px;
        }

        .project {
            overflow: auto;
            margin-bottom: 20px;


            img {
                float: left;
                height: 60px;
                width: 15%;
                margin-top: 5px;
            }

            .project-meta {
                width: 82%;
                margin-left: 3%;
                float: left;

                h3 {
                    font: 22px $body-family;
                    font-weight: bold;
                    margin: 0;
                }

            }
        }
    }

    .writing {
        .note {
            margin-bottom: 10px;

            .note-title {}

            .note-date { font-size: 0.8rem; }
        }
    }
}

.note, .notes {
    h1 {
        border-bottom: 1px solid darken($red, 10);
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
}

.notes {
    .row {
        margin-bottom: 20px;
    }

    .highlights {
        margin-bottom: 20px;
    }

    h2 {
        font: 30px $header-family;
        letter-spacing: 0;
        font-weight: bold;
        margin: 0;
    }

    h3 {
        font: 20px $header-family;
        margin-bottom: 5px;
    }

    .note-link {
        display: block;
        color: inherit;
        text-decoration: none;
    }
}

.note {
    .note-title {
        font: bold 48px $header-family;
    }

    .date {
        font-size: 28px;
        margin: 10px 0 20px;
    }

    .abstract {
        padding-bottom: 20px;
        border-bottom: 1px solid darken($red, 10);
        margin-bottom: 20px;
        font-size: 24px;
    }

    h2 {
        font: bold 36px $header-family;
        margin-bottom: 10px;
    }

    video, img {
        max-width: 80%;
        margin: 0 auto;
        display: block;
    }
}
