@import "common";

$mobile-width: 576px;

.note, .notes {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 22px;
    line-height: 1.4em;
    letter-spacing: 0px;

    @media (max-width: $mobile-width) {
        font-size: 18px;
    }

    h1 {
        font-family: 'Pokemon Pixel', monospace;
        letter-spacing: 1px;
    }

    h2, h3, h4, h5, h6 {
        line-height: 0.8em;
        margin-bottom: 3px;
    }

    h1.site-title {
        font-family: 'FippsRegular', 'Pokemon Pixel', monospace;
        font-size: 36px;
        margin-top: 30px;
        text-align: left;
        padding-bottom: 30px;
        border-bottom: 1px dashed black;

        a {
            color: black;

            &, &:hover {
                text-decoration: none;
                border-bottom: none;
            }
        }
    }

    pre {
        font-size: 16px;
    }
}

.notes {
    .highlights {
        margin-top: 20px;
    }

    div.note-list {
        margin-top: 20px;

        .row {
            margin-bottom: 30px;

            @media (max-width: $mobile-width) {
                margin-bottom: 0;
            }
        }

        a.note-link {
            $margin: 5px;
            display: block;
            float: left;
            color: black;

            @media (max-width: $mobile-width) {
                margin-bottom: 30px;
            }

            &:hover {
                text-decoration: none;
            }

            h2 {
                font-size: 36px;
                font-family: 'Pokemon Pixel', monospace;
            }

            h3 {
                margin: 8px 0;
                font-family: 'Pokemon Pixel', monospace;
                font-size: 28px;
            }
        }
    }
}

.note {
    h1 {
        font-size: 64px;
        margin-top: 30px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
        line-height: 0.95em;

        @media (max-width: $mobile-width) {
            font-size: 48px;
        }
    }

    .date {
        font-family: 'Pokemon Pixel', monospace;
        text-align: center;
        font-size: 30px;
        margin-bottom: 30px;

        @media (max-width: $mobile-width) {
            margin-bottom: 10px;
        }
    }

    .abstract {
        border: 1px dashed black;
        padding: 20px 20px;
        margin: 10px 40px 40px;

        @media (max-width: $mobile-width) {
            margin: 10px;
        }
    }

    h2 {
        font-size: 36px;
        margin-top: 30px;
        margin-bottom: 10px;
        font-weight: bold;

        @media (max-width: $mobile-width) {
            line-height: 1em;
            font-size: 26px;
        }
    }

    h3 {
        font-size: 24px;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    img, video {
        max-width: 100%;
        max-height: 500px;
        display: block;
        margin: 0 auto;
    }

    $par-spacing: 20px;

    p {
        margin-bottom: $par-spacing;
    }

    .hl {
        font-style: normal;
        background-color: rgba(255, 255, 0, 0.2);
    }

    ol, ul {
        padding-left: 20px;
        margin-bottom: $par-spacing;

        li {
            margin-bottom: $par-spacing/2;
        }
    }

    ol {
        list-style-type: decimal;

        ol {
            list-style-type: decimal;
        }
    }

    ul {
        list-style-type: circle;

        ul {
            list-style-type: square;
        }
    }

    pre {
        margin-bottom: $par-spacing;
        background: #fafafa;
        padding: 10px;
        line-height: 1.3em;
        font-size: 16px;
        border: 2px solid #eee;

        code {
            font-size: 16px;
            padding: 0;
            border: 0;
            //white-space: normal;
        }
    }

    code {
        font-size: 16px;
        padding: 3px 5px;
        color: #aa3f3f;
        border: 1px solid #eee;
        //white-space: nowrap;
    }

    a code {
        padding: 0;
        color: #2169a5;
        border: 0;
    }

    sup {
        font-size: 18px;
    }

    blockquote {
        $color: #555;
        padding-left: 20px;
        color: $color;
        border-left: 2px solid $color;
    }

    div.figure {
        display: block;
        margin-bottom: $par-spacing;

        img {
            margin-bottom: 10px;
        }
    }

    div.caption {
        font-style: italic;
        text-align: center;
        margin-bottom: $par-spacing;
    }

    .footnotes {
        border-top: 1px solid #ccc;
        padding-top: 10px;
        font-size: 16px;
        line-height: 1.3em;

        p {
            margin-bottom: 10px;
        }
    }

    $col1: rgb(33, 105, 165);
    $col2: rgb(55, 138, 206);
    a {
        color: $col1;
        border-bottom: dotted 1px $col1;
        text-decoration: none;

        &:hover {
            color: $col2;
            border-bottom: solid 1px $col2;
        }
    }
}
