$mobile-cutoff: 1400px;
$desktop-cutoff: $mobile-cutoff + 1px;

:root {
  --mobile-cutoff: #{$mobile-cutoff};
}

@mixin mobile {
  @media screen and (max-width: $mobile-cutoff) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-cutoff) {
    @content;
  }
}